{% block nav_drop %}

    <!-- Heading -->
    <div class="sidebar-heading">
        Anagrafiche
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
           aria-controls="collapseTwo">
            <i class="icofont-user-alt-7"></i>
            <span>Soggetti</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Elementi:</h6>
                <a class="collapse-item" href="buttons.html">Proprietà</a>
                <a class="collapse-item" href="cards.html">Contatti</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <i class="icofont-map"></i>
            <span>Aree</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Zone:</h6>
                <a class="collapse-item" href="utilities-color.html">Punti</a>
                <a class="collapse-item" href="utilities-border.html">Telecamere</a>
                <a class="collapse-item" href="utilities-animation.html">Registrazione</a>
                <a class="collapse-item" href="utilities-other.html">Accessi</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Reports Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="icofont-document-folder"></i>
            <span>Report</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
{% endblock %}